  .checkbox {
    > span{
        width:auto;
        margin:0;
        padding:0;
        display: block;
        position:relative;
        top:0;
        left:0;

        label{
            width:100%;
            height:auto;
            margin: 0;
            padding:0 0 0 2rem;
            font-size: 1.2rem;
            line-height: 1.6rem;
            cursor:pointer;
            display:block;
            position:relative;
            left:0;
            top:0;
            z-index: 1;
            color: map-get($colorsFonts, default);
        }

        input[type="checkbox"]{
            width: 1.5rem;
            height: 1.5rem;
            top: 0;
            left: 0;
            border: none;
            position:absolute;

            & + label:before{
                font-family: 'icomoon';
                margin:0;
                content:'';
                position:absolute;
                left:0;
                top:0;
                border: 0.1rem  solid  map-get($colorsMainScale, darken);
                cursor:pointer;
                display:inline-block;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 0.8rem;
                line-height: 1.4rem;
                text-align:center;
                color: #fff;
                background: #fff;
                @include border-top-radius(.18rem);
                @include border-bottom-radius(.18rem);
                @include transition(all 0.1s linear 0.1s);
            }

            &:checked + label:before{
                content: '\e905';
                background: map-get($colorsMainScale, darken);
            }

            &:disabled + label:before{
                color: #fff;
                background: map-get($colorsNeutralScale, neutralBd) ;
            }
        }
    }

    small {
        top: 0;
        @include border-top-radius(.4rem);
    }
}
