$colorsBranding: (
    main: #b4d6ee,
    mainFeat: #428bca,
    mainRoyal: #397999,
);

$colorsMainScale: (
    darken: #059cc7,
    ligthen: #eef8fc,
);

$colorsNeutralScale: (
    neutralBg: #f1f1f1,
    neutralBd: #cccccc,
);

$colorsFonts: (
    default: #333333,
    neutral: #666666,
);

$colorsApps: (
    hovered: #ffffd9,
    alertInfo: #059cc7,
    alertWarning: #f29c64,
    alertError: #ff665a,
    alertSuccess: #a3d06d,
);
